* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
  box-shadow: none;
  outline: none;
}
:root {
  --bg-color: #faf9f5;
  --second-bg-color: #f5f5f5;
  --main-color: rgb(178, 87, 60);
  --text-color: #1a1a1a;
  --text-secondary: #4a4a4a;
}
body {
  background-color: var(--bg-color);
  font-family: "Open San", sans-serif;
}
.logoimg {
  width: 50px;
  height: 50px;
  align-items: center;
  text-align: center;
}
.logocontainer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: sans-serif;
}
.logocontainer h5 {
  font-weight: bold;
  color: var(--text-color);
}

#menu-btn {
  background-color: transparent;
  color: black;
  font-size: 16px;
}
.logo {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 3%;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 100;
}
.logo:hover {
  background-color: white;
}
.navonlargescreen ul {
  display: none;
  padding-left: 40px;
}
.headerauth {
  display: none;
}
@media (min-width: 1000px) {
  .navonlargescreen ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .navonlargescreen ul li a {
    color: var(--text-secondary);
    font-size: 16px;
  }
  .logoimg {
    width: 80px;
    height: 80px;
    align-items: center;
    text-align: center;
  }
  .logocontainer h5 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
  }
  #menu-btn {
    display: none;
  }
  .headerauth {
    display: flex;
  }
}
.resourcecontainer {
  position: relative; /* for absolute dropdown */
}

/* Hide dropdown by default */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--second-bg-color);
  padding: 30px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  min-width: 500px;
  z-index: 100;
}
.dropdown-menu ul {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li.dropdownsmall {
  font-weight: 13px;
  margin-bottom: 8px;
}

.resourcecontainer:hover .dropdown-menu {
  display: flex;
}
.headerlogin {
  align-items: center;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color);
  font-size: 12px;
}
.headergetstarted {
  border-radius: 5px;
  padding: 10px;
  background: var(--text-color);
  color: var(--second-bg-color);
  margin-left: 10px;
  font-size: 12px;
}
/* side menu starts here */
#side-menu {
  position: fixed;
  top: 70px;
  right: 0;
  width: 100%;
  height: calc(100vh - 1px);
  background-color: white;
  display: none;
  overflow-y: auto;
  margin-top: -2%;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 99;
}
@media (min-width: 1050px) {
  #side-menu {
    display: none;
  }
}

/* main section */

.mainsection {
  padding-top: 80px;
}
.Herosection {
  text-align: center;
  align-items: center;
  padding: 10px;
}
.Herosection h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 30px;
  padding-bottom: 20px;
}
.buildportfoio {
  margin-bottom: 20px;
}
.heroemail {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  border: 1px solid var(--text-color);
}
.submit {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  color: var(--second-bg-color);
  margin-top: 10px;
  background-color: var(--main-color);
}
.herosmall {
  padding-top: 15px;
  font-size: 11px;
  color: var(--text-secondary);
}
.displayonlyonphone {
  display: inline-block;
  border: 1px solid #c2c1c1;
  padding: 0;
  margin: 15px 0px;
  line-height: 1;
  font-size: 14px; /* if it wraps icons/images */
  text-align: center;
}
.img-container img {
  display: none;
}
@media (min-width: 650px) {
  .img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .img-container img {
    display: block;
    width: fit-content;
    height: 600px;
  }
}
@media (min-width: 1050px) {
  .displayonlyonphone {
    display: none;
  }
}
.heroh4 {
  color: var(--text-secondary);
  margin: 10px 0px;
}
.ratings {
  display: flex;
  gap: 12px;

  overflow-x: auto;
  padding: 8px;
  scroll-snap-type: x mandatory;
  margin-bottom: 5px;
}

.rating-item {
  flex: 0 0 auto;
  text-align: center;
  white-space: nowrap;
  scroll-snap-align: start;
  margin-right: 30px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
  color: var(--text-secondary);
}
.fa-apple {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: var(--text-secondary);
  padding-bottom: 10px;
}
.stars {
  color: #f5b400;
  font-size: 20px;
  line-height: 1;
  padding-right: 10px;
}
.learnmore,
a {
  color: var(--text-secondary);
  font-size: 10px;
  margin: 10px;
}
.rewardsection {
  background-color: var(--text-secondary);
  color: var(--second-bg-color);
}
.rewardsection {
  padding: 10px;
}
.rewardheader h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-bottom: 10px;
}
.rewardheader a {
  display: block;
  background-color: #f5b400;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: var(--text-color);
}
.rewardfeatures li {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}

.rewardfeatures li i {
  color: #f5b400;
  margin-right: 12px;
  font-size: 18px;
  min-width: 20px;
}

.rewardfeatures .text {
  display: flex;
  flex-direction: column;
}

.rewardfeatures .text span {
  font-size: 13px;
  color: var(--bg-color);
  margin-top: 4px;
  font-weight: lighter;
}
@media (min-width: 1050px) {
  .rewardsection {
    display: flex;
    justify-content: space-evenly;
  }
}
.note {
  padding: 10px;
}
.note-container h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-bottom: 10px;
}
.note-container p {
  padding: 10px;
}
.note-container a {
  text-decoration: underline;
}
.note-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 30px;
}
.img-group {
  display: flex;
  justify-content: center; /* center the grid items horizontally */
  gap: 10px;
}
.img-group img {
  width: 100%;
  min-width: 100px;
  max-width: 450px;
  height: auto;
  object-fit: cover;
  display: block;
}
